name: BE-CI

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
    backend:
        name: Backend
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v4

            -   name: Set up JDK 21
                uses: actions/setup-java@v4
                with:
                    java-version: '21'
                    distribution: 'corretto'

            -   name: Setup Gradle
                uses: gradle/actions/setup-gradle@v4

            -   name: Run Backend Checks
                run: ./gradlew ktlintCheck test build -x test
